.Weather {
  border: 2px ridge #c79cb0;
  border-radius: 9px;
  padding: 20px;
  color: #323946;
  background: linear-gradient(#e3c1c2, #d0acae);
  opacity: 0.95;
  margin: 20px auto;
  margin-top: 50px;
  font-family: "Palanquin", sans-serif;
  text-size-adjust: 100%;
}

.Weather h1 {
  font-size: 60px;
}

.Weather ul {
  text-decoration-style: none;
  margin: 0 auto;
  padding: 0;
}

.Weather li {
  font-size: 20px;
  list-style: none;
}

#day {
  font-size: 30px;
}

#description {
  padding-left: 120px;
  margin-bottom: 40px;
  position: relative;
  top: -80px;
}

.Weather img {
  height: 64px;
  margin-right: 10px;
  float: left;
}

.Weather .temperature {
  color: black;
  font-size: 50px;
  line-height: 64px;
}

.Weather .unit {
  font-size: 16px;
  position: relative;
  top: -25px;
}
