.WeatherTemperature {
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: 190px;
}

#temperatureNumeric {
  color: white;
  display: block;
  padding-right: 30px;
  font-size: 60px;
  margin-bottom: 0px;
  padding-bottom: 0px;
}

.celsius {
  position: relative;
  bottom: 76px;
  left: 70px;
  font-size: 22px;
  text-decoration: none;
  color: white;
  transition: all 200ms ease-in-out;
}

.fahrenheit {
  position: relative;
  bottom: 76px;
  left: 70px;
  font-size: 22px;
  color: white;
  transition: all 200ms ease-in-out;
}

.celsius:hover,
.fahrenheit:hover {
  color: #2e2239;
  text-decoration: none;
  font-weight: bold;
}
