.Weather {
  max-width: 100%;
  padding-right: 20px;
  padding-left: 20px;
  margin: 0 auto;
  font-family: "Palanquin", sans-serif;
  text-size-adjust: 100%;
}

.Weather h1 {
  font-size: 60px;
}

.Weather ul {
  text-decoration-style: none;
  margin: 0 auto;
  padding: 0;
}

.Weather li {
  font-size: 20px;
  list-style: none;
}

#day {
  font-size: 30px;
}

#description {
  padding-left: 120px;
  margin-bottom: 40px;
  position: relative;
  top: -80px;
}
